.contact__h2 {
  margin: 0;
}

.contact__fieldset {
  border: none;
}

.contact__p {
  margin: 1em 0;
}

.contact__label {
  display: block;
  font-weight: bold;
}

.contact__input,
.contact__textarea {
  padding: 0.5em;
  border-radius: var(--BORDER-RADIOUS);
  border-width: 2px;
  width: 100%;
}

.contact__button {
  padding: 0.5em;
  border-radius: var(--BORDER-RADIOUS);
  background-color: var(--HIGHLIGHT-COLOR);
  color: var(--HEADER-COLOR);
}