thead, tbody, tfoot, tr {
  display: contents;
}

.menu__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
    "hd1 hd2 hd3"
    "cr cr1 cr1p"
    "cr cr2 cr2p"
    "cr cr3 cr3p"
    "sf sf1 sf1p"
    "sf sf2 sf2p"
    "sf sf3 sf3p"
    "cs cs cs"
  ;
  gap: 0.1em;
  margin-bottom: 1em;
}

.menu__cr {
  grid-area: cr;
}

.menu__sf {
  grid-area: sf;
}

.menu__cs {
  grid-area: cs;
}

.menu__cr, .menu__sf, .menu__cs, .menu__header {
  color: var(--HIGHLIGHT-COLOR);
  font-weight: bold;
  height: 100%;
  display: grid;
  place-content: center;
}

.menu__header, .menu__item {
  width: 100%;
  padding: 1em;
  border: medium ridge var(--BORDER-COLOR);
}

.menu__item {
  display: grid;
  place-content: center;
}

thead th:first-child {
  border-top-left-radius: var(--BORDER-RADIUS);
  
}
thead th:last-child {
  border-top-right-radius: var(--BORDER-RADIUS);

}

tfoot td {
  border-bottom-left-radius: var(--BORDER-RADIUS);
  border-bottom-right-radius: var(--BORDER-RADIUS);
}