body {
  height: 100vh;
  display: flex;
  place-items: center;
  justify-content: center;
}

.heading {
  font-size: 40px;
  transition: all 1s ease-in 1s;
}

.heading:hover {
  font-size: 10px;
  color: green;
}