.box {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.realbox {
  background: black;
  height: 200px;
  width: 200px;
  animation: box 3.5s ease-in-out infinite;
  opacity: 10%;
}

@keyframes box {
  0% {
    opacity: 10%;
  }
  50% {
    opacity: 90%;
    transform: rotate(180deg);
  }
}

