* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {display: block;}

.nowarp {
  white-space: nowrap;
}

.offscreen {
  position: absolute;
  left: -10000px;
}

body {
  min-height: 100vh;
}

.hero {
  border-bottom: 2px solid black;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  background-color: yellow;
  background-image: url("img/keith-misner-h0Vxgz5tyXA-unsplash.jpg");
}

.h1 {
  font-size: 500%;
  color: white;
}

.profile-pic-figure {
  width: 40%;

}

img {
  width: 100%;
  height: auto;
  min-width: 100px;
  border: 3px double red;
  border-radius: 50%;
}

/* 
.example {
  margin-top: 1rem;
  padding-left: 20px;
  border: 1px solid red;
}

.example img {
  width: 25%;
  height: auto;
} */

